<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFlickerApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04FDCE5D1D449693001CD5B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FDCE711D449693001CD5B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FDCE7C1D449693001CD5B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
